---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

const time = new Date()
const fullTime = time.toLocaleTimeString('es-ES', {
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit',
  hour12: false
});

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold subpixel-antialiased text-xl text-black dark:text-white">
      <div class="container">
        <span class="box text-black dark:text-white">
          <h2>~$ ./Guillermo_España.sh</h2>
        </span>
      </div>
    </h4>
    
    <div class="h-5"></div>
    <div class="space-y-16">
      <section>
        <div class="flex flex-col lg:flex-row gap-8 lg:items-start">
          <div class="flex-shrink-0 lg:w-1/3">
            <img 
              src="/retroComputer.jpg" 
              alt="Retro computer" 
              class="animate space-y-6"
            />
          </div>
          <article class="space-y-4 flex-1">
            <p class="animate">
              Hi I'm Guillermo. I'm a final-year Software Engineering student at the 
              Polytechnic University of Madrid
              (<Link href="https://www.upm.es/internacional" aria-label="UPM's international website" external>
                UPM
              </Link>).
              
            </p>
            <p class="animate">
             I'm 23 and currently based in Madrid, Spain. On this website, 
             I write about technical and life-related topics. You can also find some of my personal projects 
             and my Japanese learning roadmap.
            </p>
            <p class="animate">
             I enjoy full-stack development and in my free time I like to tinker with linux systems.
             My current interests include GAs, Evolutionary Computation and ML/AI engineering. 
            </p>
          </article>
        </div>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            ~$ ls -t Blog | head -n 3
          </h5>
          <!--
          <Link href="/blog">
            See all posts
          </Link>
          -->
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <!--
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work eddit esto jasjasj
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>
      -->

      <!--
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>
      -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          ~$ cat Contact_Me.txt
        </h5>
        <article>
          <p>
            If you want to get in touch or just to say hi, follow me on social media
            or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
